<footer class="site-footer">
  {{ if or (site.GetPage "") (site.GetPage "privacy.md") }}
  <p class="powered-by">
    
  </p>
  {{ end }}

  <p class="powered-by">
    {{ with site.Copyright }}{{ replace . "{year}" now.Year | markdownify}}{{ end }}
  </p>

  {{/* Display copyright license. */}}
  {{ partial "site_footer_license" . }}

  <p class="powered-by">
    {{ $is_sponsor := site.Params.i_am_a_sponsor | default false }}
    {{ $hide_published_with_footer := site.Params.power_ups.hide_published_with | default true }}
    {{ if not (and $is_sponsor $hide_published_with_footer) }}
    Made with the 
    <a href="https://cran.r-project.org/" target="_blank" rel="noopener"><i class="fab fa-r-project "></i> </a>
    <a href="https://github.com/rstudio/blogdown" target="_blank" rel="noopener">blogdown</a> package and <a href="https://github.com/rstudio/blogdown" target="_blank" rel="noopener">wowchemy</a> —
    by <a href="https://www.linkedin.com/in/luckermos/" target="_blank" rel="noopener">
    Lucas</a> and <a href="https://www.linkedin.com/in/rafael-silva-807a07115/" target="_blank" rel="noopener">
    Rafael</a>.
    {{ end }}
  </p>
</footer>
